body{
    margin: 0px;
}
.header{
    border: 1px solid black;
    height: 80%;
}
.menu>a{
    font-variant: small-caps;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.menu>a:hover{
    color: red;
    text-decoration: underline;
}
.menu{
    background-color:powderblue;
    border: 1px solid black;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}
.main{
    background-color: white;
    height: 1200px;
    padding-left: 300px;
}
footer{
    height: 400px;
    background-color: pink;
}
.lienhe{
    width: 47%;
    height: 100%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
.dangki{
    width: 45%;
    height: 100%;
    float: right;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}
.lienhe>h1{
    text-align: center;
    padding-bottom: 30px;
}
.cochu{
    font-size: 35px;
}
.banquyen{
    text-align: center;
    background-color: pink;
    font-size: 25px;
    border-top:1px solid black;
}
.form{
    font-size: 50px;
    border:1 px solid pink;
    border-radius:3px;
    outline:none;
    width: 700px;
    height: 100px;
}
.chu{
    font-size: 50px;
}
.gopy{
    width: 700px;
    height: 400px;
    font-size: 30px;
}
.form:focus{
    box-shadow:0 0 3px red;
    border:1px solid yellow;
    background-color: cornsilk;
}
.button{
    color: aliceblue;
    background-color: pink;
    outline:none;
    border:none;
    border-radius:10px;
    font-weight:bold;
    font-size: 50px;
    width: 200px;
}
.button:hover{
    color:blue;
    box-shadow:inset 0 0 20px orangered;
}
.phai{
    float: right;
    padding-right: 300px;
    padding-top: 55px;
}
.trai{
    float: left;
}
.trangchu{
    background-color: red;
}
